[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1"
celery = "==5.4.0"
django-environ = "==0.11.2"
django-extensions = "==3.2.3"
django-debug-toolbar = "==4.4.6"
django-allauth = "==0.63.6"
psycopg2 = "==2.9.9"
debugpy = "==1.8.2"
stripe = "==10.11.0"
flake8 = "==7.1.0"
isort = "==5.13.2"
redis = "==5.0.8"
django-redis = "==5.4.0"
pillow = "*"
gunicorn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
